@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add any global styles here */
/* src/styles/index.css */

/* src/styles/index.css */

/* Aturan untuk placeholder dengan bayangan dan font Arial */
input::placeholder {
    color: #9ca3af; /* Warna placeholder (abu-abu) */
    opacity: 1; /* Pastikan placeholder terlihat dengan opacity penuh */

    text-shadow: 1px rgba(0, 0, 0, 0.5); /* Bayangan teks */
    font-family: Arial, sans-serif; /* Font Arial */
  }
  
  /* Aturan untuk elemen input */
  input {
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    padding: 0.5rem 0.75rem;
    box-shadow: none;
    outline: none;
    transition: border-color 0.2s ease-in-out;
  }
  
  /* Aturan untuk fokus pada elemen input */
  input:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 0 1px #3b82f6;
  }
  
  /* src/styles/index.css */
  .fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
  
  